<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title><%= fnname %></title>
    <link rel="stylesheet" type="text/css" href="/hl.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="/test.js"></script> 
</head>
<body onload="hl()">
    <div id="main">

        <div id="parameters">
	<% if parameters != [] %>
            <b>Parameters</b>
            <table>
                <% for parameter in parameters %>
                    <tr>
                        <td><%= parameter[0] %></td>
			<td><%= parameter[1] %></td>
			<% if parameter[2] %>
			    <td><%= markdown( parameter[2] ) %></td>
			<% end %>
                    </tr>
                <% end %>
            </table>
	<% end %>
        </div>

    <% for annotation in annotations %>
        <div>
	<% if annotation[0] == "async" %>
            <b><%= annotation[0] %></b>:<p>
	This function is asynchronous. The values it returns are not guaranteed to be the same for each player.
	If you attempt to use it in an synchronous manner it may cause a desync.
		</p>
	<% elsif annotation[0] == "pure" %>
	   <b>pure</b>:<p>
	This function is pure. For the same values passed to it, it will always return the same value.
	   </p>
	<% elsif annotation[0] == "source-file" %>
	    <b>Source</b>: <a href="https://github.com/lep/jassdoc/blob/master/<%= annotation[1] %>#L<%= line %>"><%= annotation[1] %></a>
	<% elsif annotation[0] == "source-code" %>
	    <b>Source code</b>:
	    <p><pre><%= annotation[1] %></pre></p>
	<% else %>
            <b><%= annotation[0] %></b>: <%= markdown(annotation[1]) %>
	<% end %>
        </div>
    <% end %>

    </div>
</body>
</html>
